/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-12-2019, 06:29:12 PM
    Author     : Juan
*/

/* Grid CSS para PrimeFaces */
/*
.ui-g div {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
}
*/

.center-grid {
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    border: 1px solid #fafafa;
}


